body {
    background-image: url("catbackground.jpeg");
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-right: 200px;
    background-attachment: fixed;
}


h2 {
    font-family: Arial;
    color: #FFFFFF;
    font-size: 250%;
}

 #title {
    background-color: #0059b3;
    width: 1000px;
    padding: 25px;
    margin: 25px;
    text-align: center;
}

 #paragraph {
    background-color: #cce6ff;
    width: 1000px;
    padding: 25px;
    margin: 25px;
}

.kitties {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.kitty {
	height: 200px;
	width: 200px;
	border-color: blue;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

img {
	width: 50px;
}

#GoalNumber {
	background-color: #0059b3;
    width: 50px;
    padding: 25px;
    margin: 25px;
    font-size: 60px;
    color: #FFFFFF;

}
